<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    <h1>
        Welcome to the text analyazer. Enter your text below
    </h1>
    <form action='/analyze' method='get'>
        <textarea name='text' style='width: 726px; height: 179px;'></textarea>

        <input type="checkbox"  name="removepunc">Remove puncuation <br>
        <button type='submit'>Analyze Text</button>
    </form>
</body>
</html>